<p class='makers-page-header'>
 <img src="//cdn.shopify.com/s/files/1/0051/8373/3878/files/Screen_Shot_2018-10-27_at_5.44.23_PM_large.png?v=1540685285" alt="" />
</p>   
<p class='makers-page-info'>
  <span data-character-count="180" class="text-overflow">
    Lorem ipsum copy to come. Musa
    quaspel eos doluptatios quia q
    ue consequam dib    ipsani raq
    uodis incia sae elluptat apien
    im oditem corem. Rovit adi sii
    psape maspel eos doluodis. Lorem
    ipsum copy to come. Musa quaspel eos doluptatios quia que consequam di 
    ipsani ra quodis incia sae elluptat apienim oditem corem. Rovit adi si ipsape 
    maspel eos doluodis
  </span>
   <button class="read-more-link btn-overflow" href='#'>.... Read More</button>
</p>

<ul class='makers-page-list'>
  <li>
    <a href='/collections/atuto'>
      <p><span><img src="//cdn.shopify.com/s/files/1/0051/8373/3878/files/Screen_Shot_2018-10-27_at_5.56.33_PM_large.png?v=1540686656" alt="" /></span></p>
      <p><span>ATUTO</span></p>
    </a>  
  </li>
  <li>
    <a href='/collections/corie-humble'>
      <p><span><img src="//cdn.shopify.com/s/files/1/0051/8373/3878/files/Screen_Shot_2018-10-27_at_5.56.33_PM_large.png?v=1540686656" alt="" /></span></p>
      <p><span>CORIE HUMBLE</span></p>
    </a>  
  </li>
  <li>
    <a href='/collections/dbo-home'>
      <p><span><img src="//cdn.shopify.com/s/files/1/0051/8373/3878/files/Screen_Shot_2018-10-27_at_5.56.33_PM_large.png?v=1540686656" alt="" /></span></p>
      <p><span>DBO Home</span></p>
    </a>  
  </li>
  <li>
    <a href='/collections/keap-candles'>
      <p><span><img src="//cdn.shopify.com/s/files/1/0051/8373/3878/files/Screen_Shot_2018-10-27_at_5.56.33_PM_large.png?v=1540686656" alt="" /></span></p>
      <p><span>KEAP</span></p>
    </a>  
  </li>
  <li>
    <a href='/collections/la-casa'>
      <p><span><img src="//cdn.shopify.com/s/files/1/0051/8373/3878/files/Screen_Shot_2018-10-27_at_5.56.33_PM_large.png?v=1540686656" alt="" /></span></p>
      <p><span>LA CASA</span></p>
    </a>  
  </li>
  <li>
    <a href='/collections/laura-kramer-lbk-studio'>
      <p><span><img src="//cdn.shopify.com/s/files/1/0051/8373/3878/files/Screen_Shot_2018-10-27_at_5.56.33_PM_large.png?v=1540686656" alt="" /></span></p>
      <p><span>LBK STUDIO</span></p>
    </a>  
  </li>
  <li>
    <a href='/collections/sejnania'>
      <p><span><img src="//cdn.shopify.com/s/files/1/0051/8373/3878/files/Screen_Shot_2018-10-27_at_5.56.33_PM_large.png?v=1540686656" alt="" /></span></p>
      <p><span>SEJNANIA</span></p>
    </a>  
  </li>
  <li>
    <a href='/collections/studiology'>
      <p><span><img src="//cdn.shopify.com/s/files/1/0051/8373/3878/files/Screen_Shot_2018-10-27_at_5.56.33_PM_large.png?v=1540686656" alt="" /></span></p>
      <p><span>STUDIOLOGY</span></p>
    </a>  
  </li>
  <li>
    <a href='/collections/shelter-collection'>
      <p><span><img src="//cdn.shopify.com/s/files/1/0051/8373/3878/files/Screen_Shot_2018-10-27_at_5.56.33_PM_large.png?v=1540686656" alt="" /></span></p>
      <p><span>THE SHELTER COLLECTION</span></p>
    </a>  
  </li>
  <li>
    <a href='/collections/tracie-hervy'>
      <p><span><img src="//cdn.shopify.com/s/files/1/0051/8373/3878/files/Screen_Shot_2018-10-27_at_5.56.33_PM_large.png?v=1540686656" alt="" /></span></p>
      <p><span>TRACIE HERVY</span></p>
    </a>  
  </li>
  <li>
    <a href='/collections/'>
      <p><span><img src="//cdn.shopify.com/s/files/1/0051/8373/3878/files/Screen_Shot_2018-10-27_at_5.56.33_PM_large.png?v=1540686656" alt="" /></span></p>
      <p><span>ARTIST NAME</span></p>
    </a>  
  </li>
  <li>
    <a href='/collections/'>
      <p><span><img src="//cdn.shopify.com/s/files/1/0051/8373/3878/files/Screen_Shot_2018-10-27_at_5.56.33_PM_large.png?v=1540686656" alt="" /></span></p>
      <p><span>ARTIST NAME</span></p>
    </a>  
  </li>  
</ul>


{% section 'featured-blog' %}
{% section 'framework--instagram' %}