<ul class='category-page-list'>
  <li>
    <a href='#'>
  	<p><span><img src="//cdn.shopify.com/s/files/1/0051/8373/3878/files/Screen_Shot_2018-10-27_at_8.29.12_PM_large.png?v=1540687327" alt="" /></span></p>
	<p><span>DRIED BOTANICAL</span></p>
    </a>
  </li>
  <li>
    <a href='#'>
  	<p><span><img src="//cdn.shopify.com/s/files/1/0051/8373/3878/files/Screen_Shot_2018-10-27_at_8.29.32_PM_large.png?v=1540687363" alt="" /></span></p>
	<p><span>VESSELS</span></p>
    </a>  
  </li>
  <li>
    <a href='#'>
  	<p><span><img src="//cdn.shopify.com/s/files/1/0051/8373/3878/files/Screen_Shot_2018-10-27_at_8.29.57_PM_large.png?v=1540687398" alt="" /></span></p>
	<p><span>DECORATIVE ACCENTS</span></p>
    </a>  
  </li>
</ul>



{% section 'featured-blog' %}
{% section 'framework--instagram' %}