<p class='makers-page-header'>
 <img src="//cdn.shopify.com/s/files/1/0051/8373/3878/files/Screen_Shot_2018-10-27_at_5.44.23_PM_large.png?v=1540685285" />
</p>   
<p class='makers-page-info'>
  <span data-character-count="180" class="text-overflow">
    Lorem ipsum copy to come. Musa quaspel eos doluptatios quia q
    ue consequam dib ipsani raquodis incia sae elluptat apien
    im oditem corem. Rovit adi siipsape maspel eos doluodis. Lorem
    ipsum copy to come. Musa quaspel eos doluptatios quia que consequam di ipsani ra quodis incia sae elluptat apienim oditem corem. Rovit adi si ipsape maspel eos doluodis.
  </span>
   <button class="read-more-link btn-overflow" href='#'>Read More</button>
</p>

<ul class='makers-page-list'>
  <li>
    <a href='/collections/atuto'>
      <p><img src="//cdn.shopify.com/s/files/1/0051/8373/3878/files/Screen_Shot_2018-10-27_at_5.56.33_PM_large.png?v=1540686656" alt="" /></p>
      <h6>Atuto</h6>
    </a>  
  </li>
  <li>
    <a href='/collections/corie-humble'>
      <p><span><img src="//cdn.shopify.com/s/files/1/0051/8373/3878/files/Screen_Shot_2018-10-27_at_5.56.33_PM_large.png?v=1540686656" alt="" /></span></p>
      <h6>Corie Humble</h6>
    </a>  
  </li>
  <li>
    <a href='/collections/dbo-home'>
      <p><img src="//cdn.shopify.com/s/files/1/0051/8373/3878/files/Screen_Shot_2018-10-27_at_5.56.33_PM_large.png?v=1540686656" alt="" /></p>
      <h6>DBO Home</h6>
    </a>  
  </li>
  <li>
    <a href='/collections/keap'>
      <p><img src="//cdn.shopify.com/s/files/1/0051/8373/3878/files/Screen_Shot_2018-10-27_at_5.56.33_PM_large.png?v=1540686656" alt="" /></p>
      <h6>Keap</h6>
    </a>  
  </li>
  <li>
    <a href='/collections/la-casa'>
      <p><img src="//cdn.shopify.com/s/files/1/0051/8373/3878/files/Screen_Shot_2018-10-27_at_5.56.33_PM_large.png?v=1540686656" alt="" /></p>
      <h6>La Casa</h6>
    </a>  
  </li>
  <li>
    <a href='/collections/lbk-studio'>
      <p><img src="//cdn.shopify.com/s/files/1/0051/8373/3878/files/Screen_Shot_2018-10-27_at_5.56.33_PM_large.png?v=1540686656" alt="" /></p>
      <h6>LBK Studio</h6>
    </a>  
  </li>
  <li>
    <a href='/collections/sejnania'>
      <p><img src="//cdn.shopify.com/s/files/1/0051/8373/3878/files/Screen_Shot_2018-10-27_at_5.56.33_PM_large.png?v=1540686656" alt="" /></p>
      <h6>Sejnania</h6>
    </a>
  </li>
  <li>
    <a href='/collections/studiology'>
      <p><img src="//cdn.shopify.com/s/files/1/0051/8373/3878/files/Screen_Shot_2018-10-27_at_5.56.33_PM_large.png?v=1540686656" alt="" /></p>
      <h6>Studiology</h6>
    </a>
  </li>
  <li>
    <a href='/collections/the-shelter-collection'>
      <p><img src="//cdn.shopify.com/s/files/1/0051/8373/3878/files/Screen_Shot_2018-10-27_at_5.56.33_PM_large.png?v=1540686656" alt="" /></p>
      <h6>The Shelter Collection</h6>
    </a>
  </li>
  <li>
    <a href='/collections/tracie-hervy'>
      <p><img src="//cdn.shopify.com/s/files/1/0051/8373/3878/files/Screen_Shot_2018-10-27_at_5.56.33_PM_large.png?v=1540686656" alt="" /></p>
      <h6>Tracie Hervy</h6>
    </a>  
  </li>
  <li>
    <a href='/collections/'>
      <p><img src="//cdn.shopify.com/s/files/1/0051/8373/3878/files/Screen_Shot_2018-10-27_at_5.56.33_PM_large.png?v=1540686656" alt="" /></p>
      <h6>Artist Name</h6>
    </a>
  </li>
  <li>
    <a href='/collections/'>
      <p><img src="//cdn.shopify.com/s/files/1/0051/8373/3878/files/Screen_Shot_2018-10-27_at_5.56.33_PM_large.png?v=1540686656" alt="" /></p>
      <h6>Artist Name</h6>
    </a>
  </li>
</ul>


{% section 'featured-blog' %}
{% section 'framework--instagram' %}